hostname = testflight.apple.com,oauth.secure.pixiv.net

# > testflight解锁区域限制@NobyDa
^https?:\/\/testflight\.apple\.com\/v\d\/accounts\/.+?\/install$ url script-request-body https://raw.githubusercontent.com/CiQii/IOS/master/JS/testfight.js

# > pixiv去除广告@ddgksf2013
^https?:\/\/oauth\.secure\.pixiv\.net\/(auth\/token) url script-response-body https://raw.githubusercontent.com/CiQii/IOS/master/JS/pixiv.js

# > 03 禁漫天堂[网页优化]
^https?:\/\/.*18comic\.vip\/($|(album|photo).*$) url script-response-body https://gcore.jsdelivr.net/gh/CiQii/IOS@master/JS/18comic.js
